{% extends "hda_public/base.html" %}

{% block content %}

<div id="chartdiv"></div>

{% endblock %}


{% block extra_scripts %}

{% comment %} Highchart script CDN  {% endcomment %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<!-- optional -->
<script src="http://code.highcharts.com/modules/offline-exporting.js"></script>
<script src="http://code.highcharts.com/modules/export-data.js"></script>

<script>
(function() {
  Highcharts.chart('chartdiv', {
      plotOptions: {
        series: {
          turboThreshold: 3500
        }
      },
      chart: {
          type: 'scatter'
      },
      title: {
          text: 'Sample'
      },
      xAxis: {
        title: {
            enabled: true,
            text: 'Percentile'
        }
      },
      yAxis: {
      },
      series: [{
          name: 'Percentile',
          data: {{ chartdata | safe }},
          color: 'green',
          tooltip: {
            pointFormat: "{point.name}<br/>p: <b>{point.x}</b><br/>v: <b>{point.y}</b><br/>",
            valueDecimals: 2,
            valueSuffix: "%"
          },
          marker: {
            radius: 3
          }
      }]
  });
})();

</script>

{% endblock %}
