{% extends "hda_public/base.html" %}
{% block  content %}
<div id="container"></div>
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script>
  Highcharts.chart('container', {
      chart: {
          type: 'scatter'
      },
      title: {
          text: 'Sample'
      },
      xAxis: {
        
        title: {
            enabled: true,
            text: 'Height (cm)'
        }
      },
      series: [{
          name: 'Percentile',
          data: "{{chartdata | safe}}",
          color: 'green'
      }]
  });
</script>

{% endblock %}