{% extends 'hda_public/base.html' %}
<script src="https://code.highcharts.com/highcharts.src.js"></script>
{%block title%}Health Indicators{%endblock%}

{% block content %}
	<div id="container">
	<table class="table table-hover">
		<thead>
			<tr>
			<th scope="col"></th>
			<th scope="col">County</th>
			<th scope="col">Value</th>
			<th scope="col">Percentile</th>
			<th scope="col">Data set</th>
			</tr>
		</thead>
		
		<tbody>
			{% for dataset in datasets %}
				<tr>
					<td>{{ dataset.id }}</td>
					<td>{{ dataset.county.name }}</td>
					<td>{{ dataset.value }}</td>
					<td>{{ dataset.percentile }}</td>
					<td>{{ dataset.data_set.indicator.name }}</td>
				</tr>
			{% endfor %}
		</tbody>

	</table>
		
	

	{% comment %} <script>
	Highcharts.chart('container', {
		chart: {
			type: 'areaspline'
		},
		title: {
			text: 'Titanic Survivors by Ticket Class'
		},
		xAxis: {
			categories: [
				{% for entry in dataset %}'{{ entry.ticket_class }} Class'{% if not forloop.last %}, {% endif %}{% endfor %}
			]
		},
		series: [{
			name: 'Survived',
			data: [
				{% for entry in dataset %}{{ entry.survived_count }}{% if not forloop.last %}, {% endif %}{% endfor %}
			],
			color: 'green'
		}, {
			name: 'Not survived',
			data: [
				{% for entry in dataset %}{{ entry.not_survived_count }}{% if not forloop.last %}, {% endif %}{% endfor %}
			],
			color: 'red'
		}]
	});
	</script> {% endcomment %}

{% endblock %}
