{% extends 'hda_privileged/base.html' %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    <h2>Create Health Indicator Matrix Here</h2>
    <form action="{% url 'create_metric' %}" method="POST">
       <h4>Create Health Indicator:<br></h4>
       <input name="title" type="text" value='Title'>
       <br>
       <h4>Short Description:<br></h4>
       <textarea name="message" rows="10" cols="30">Short Description here</textarea>
       <br>
       <button type="Create" align="right">Cancel</button>
       <button type="Cancel" align="left">Create</button>
       <br>
   </form>
</div>
</div>
{% endblock %}
