{% extends 'hda_privileged/base.html' %}

{% block content %}
{% comment %} Wrap the form in a panel for appearance {% endcomment %}
<div class='panel panel-primary'>

  <div class="panel-heading">
    <h3 class="panel-title">Create a new health indicator</h3>
  </div>

  <div class="panel-body">
    <p>Adding a health indicator allows you to upload new data sets for that indicator. Health indicator names should be unique.</p>

    <form class='form-inline' method='POST'>
      {% csrf_token %}

      {% comment %} Hidden fields, if any {% endcomment %}
      {% for hidden_field in form.hidden_fields %}
        {{ hidden_field }}
      {% endfor %}

      {% comment %} Errors that aren't specific to one field {% endcomment %}
      {% if form.non_field_errors %}
        {% for err in form.non_field_errors %}
        <div class="alert alert-danger" role="alert">{{ err | escape }}</div>
        {% endfor %}
      {% endif %}

      {% comment %} Now visible fields {% endcomment %}
      {% for field in form.visible_fields %}

      <div class={% if field.errors %} "form-group has-error" {% else %} "form-group" {% endif %}>

        <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}

        {% if field.help_text %}
        <span class="help-block">{{ field.help_text }}</span>
        {% endif %}

        {% if field.errors %}
          {% for err in field.errors %}
          <p class="text-danger">{{ err | escape }}</p>
          {% endfor %}
        {% endif %}

      </div>
      {% endfor %}

      <input class='btn btn-primary' type='submit' value='Add'/>
     <input class='btn btn-primary' type="button" value='Cancel' onclick="window.history.back()"/>
    </form>
  </div>
</div>
{% endblock %}
