{% extends 'hda_privileged/base_minimal.html' %}

{%block title%}Login{%endblock%}

{% block content %}

<div class='container' style="margin-top: 10em;">
    <div class="signin-row row">
        <div class="col-md-offset-3 col-md-6">
            <div class="container-signin panel panel-info">
                {% if next %}
                    <form action="./?next={{next}}" method="post" id='loginForm' class='form-horizontal' autocomplete='off'>
                {% else %}
                <form action="{% url 'priv:login' %}" method='POST' id='loginForm' class='form-horizontal' autocomplete='off'>
                {% endif %}
                    {% csrf_token %}
                    {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field }}
                    {% endfor %}
                    <div class="form-inner panel-body">
                        <legend>Please Login</legend>
                        <!-- loop through the form to generate the username and password field -->

                        {% for field in form.visible_fields %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>

                            <div class="col-sm-10">
                                {{ field }}
                            </div>

                            {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                        </div>
                        {% endfor %}

                        <!-- End of loop -->
                    </div>
                    <footer class="signin-actions panel-footer">
                        <input class="btn btn-primary" type='submit' id="submit" value='Login'/>
                    </footer>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}
