{% extends 'hda_privileged/base.html' %}

{% load staticfiles %}
  
	<!-- Make health indicator selected obvious -->
	<style>
		a:active{
			background-color: yellow;
		}
    </style>
  </head>
  
{% block content %}

<!-- Column to list clickable indicators from db -->
<div class="row">
  <div class="col-sm-3">
	<div class="page-header"><h1><small>Health Indicators</small></h1></div>
	<ul class="list-group">
    {% for dataset in datasets %}
    <li class="list-group-item" style="border:none" id="choose_indicator"><a href="#"></a>{{ dataset }}</a></li>	  
    {% endfor %}
	</ul>  
  </div>
  
  
  <!-- Space between columns -->
  <div class="col-sm-1"></div>


  
  <!-- File list for specific indicator viewable by clickable indicators -->
  <div class="col-sm-8">  
  <div class="page-header"><h1><small>Data Files for (User Selected Indicator Here) <!-- user chosen indicator --></small></h1></div>  <!-- show indicator user selected -->
    {% csrf_token %}    
    <table class="table">      
      <thead class="thead-light">    
        <tr>
          <th scope="col">Year</th>             
          <th scope="col">Upload Date</th>
          <th scope="col">User</th>
          <th scope="col">File</th>
        </tr>
      </thead>
      <tbody>
        {% for file in files %}
        <tr>
          <td>{{file.year}}</td>             
          <td>{{file.source_document.uploaded_at}}</td>
          <td>{{file.source_document.user}}</td>
          <td>{{file.source_document.file}}</td>
        </tr>
        {% endfor %}    
      </tbody> 
    </table> 


<!-- <script>
  $("#choose_indicator").change(function(){       //indicator list from left side of view
    var url = $("#fileschosen").attr("files-chosen-url");    //id of list on right side in view, name of url variable in view
    var indicatorId = $(this).val();

    $.ajax({
      url: url,
      data:{
        'indicator':indicatorId   //get param from views
      },
      success:function(data){
        $("#fileschosen").html(data);
      }
    });
  });
</script> -->
</div>

</div>


{%endblock%}